.cart{
    background-color: rgba(255, 153, 0, 0.30);
    padding: 25px;
    position: sticky;
    top: 0;
}

.btn-clear-cart{
    width: 95%;
    margin: 10px auto;
    background-color:#FF3030;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
}
