.form-container {
    background: #fff;
    border-radius: 8px;
    border-style: solid;
    border-color: #95a0a7;
    border-width: 1px;
    width: 500px;
    height: 700px;
    margin: 20px auto;
    padding-left: 40px;
    color: #0E161A;
}

.form-container a{
    text-decoration: none;
    color: #F90;
}
.form-title {
    margin-bottom: 10px;
    text-align: center;
    color: #2A414F;
    font-family: Lato;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.088px;
}

.form-control label {
    display: block;
    color: #2A414F;
    font-family: Lato;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.026px;
    margin-bottom: 8px;
}

.form-control input {
    font-size: 1.5em;
    width: 415px;
    height: 55px;
    padding-left: 10px;
    border-radius: 8px;
    border: 1px solid #95A0A7;
    background: #FFF;
    margin-bottom: 20px;
    color: black;
}



.btn-submit {
    width: 85%;
    height: 55px;
    border: none;
    color: #0E161A;
    cursor: pointer;
    margin-top: 40px;
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
    border-radius: 5px;
    background: rgba(255, 153, 0, 0.3);

}

.btn-submit:hover {
    background: rgba(255, 153, 0, 0.6);
}